<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Backend Practice-2</title>
  <link rel="stylesheet" href="/css/index.css"/>
  <!-- Custom Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>
<body>
<div class="main">
  <form action="http://localhost:3000/create" method="post">
    <h1>Create user</h1>
    <div class="input-holder">
    <input type="text" name="name" placeholder="Name"/>
    <input type="text" name="email" placeholder="Email"/>
    <input type="text" name="imageurl" placeholder="PFP Url"/>
    </div>
    <div class="button-holder">
    <input class="submit-btn" type="submit"/>
    <button class="read-btn"><a href="http://localhost:3000/users">See users</a></button>
    </div>
    </form>
</div>
</body>
</html>