<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Backend Practice-2</title>
  <link rel="stylesheet" href="/css/update.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>
<body>
<div class="main">
  <form action="http://localhost:3000/update/<%= user._id %>" method="post">
    <h1>Update user</h1>
    <div class="input-holder">
    <input type="text" name="name" placeholder="username" value="<%= user.name %>"/>
    <input type="text" name="email" placeholder="email" value="<%= user.email %>"/>
    <input type="text" name="imageurl" placeholder="imageUrl" value="<%= user.imageurl %>"/>
    </div>
    <div class="button-holder">
    <button class="submit-btn" type="submit">Update</button>
    </form>
</div>
</body>
</html>